:root {
  --PASTEL-PURPLE: #e9cff3;
  --DARK-PURPLE: #6e217e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  overflow: auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  border-bottom: 3px solid black;
  height: 70px;
  width: auto;
  z-index: 1000;
}
.logo-container {
  font-size: 1.5rem;
  margin-left: 1rem;
  font-weight: 800;
  flex: 1;
}
.header-options {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  gap: 3rem;
  list-style-type: none;
  flex: 1;
}
.spacer {
  flex: 1;
}
.header-link {
  text-decoration-line: none;
  color: black;
  white-space: nowrap;
}

main {
  height: calc(100vh - 70px);
  margin-top: 70px;
}

.home-section {
  height: fit-content;
  padding: 50px 50px;
  background-color: var(--PASTEL-PURPLE);
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.introduction {
  display: block;
  align-items: left;
}
.greeting-tag {
  font-size: 0.9rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  width: 6rem;
  padding: 0.4rem;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 40px;
  border: 1px solid rgb(0, 0, 0);
}

.introduction-text-large {
  font-size: 3rem;
  font-weight: 500;
}
.introduction-text-medium {
  font-size: 2rem;
  font-weight: 500;
}
.home-left strong {
  font-weight: 600;
  color: var(--DARK-PURPLE);
}
.intro-description {
  margin-top: 30px;
  margin-bottom: 50px;
  font-weight: 500;
}
.button-wrapper {
  position: relative;
  width: 200px;
  margin-top: 30px;
}

.button {
  position: relative;
  z-index: 2;
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
}
.home-right img {
  width: 480px;
  height: 480px;
}
.button-under {
  position: absolute;
  top: 5px;
  left: 0px;
  z-index: 1;
  width: 200px;
  height: 100%;
  border: 1px solid black;
  border-radius: 6px;
  background-color: var(--PASTEL-PURPLE);
}
.scribble {
  position: absolute;
}
.butterfly {
  left: 0px;
  bottom: -58px;
}
.profile-image {
  margin-top: 20px;
  margin-right: 0px;
}

.about-me-section {
  height: fit-content;
  padding: 40px 50px;
  padding-bottom: 100px;
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
  flex-direction: column;
  gap: 0px;
  max-height: 50px;
}
.title h2 {
  z-index: 10;
}
.title img {
  position: relative;
  top: -35px;
  left: -15px;
  margin-bottom: 0px;
}

.about-content {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 80px;
}
.about-left img {
  margin-top: 50px;
  width: 500px;
  height: 500px;
}
.about-me-box {
  margin-top: 50px;
  padding: 40px;
  width: 600px;
  background-color: var(--PASTEL-PURPLE);
  border-radius: 10px;
  border: 1px solid black;
}

.work-status {
  position: relative;
  bottom: 115px;
  left: 130px;
  z-index: 10;
  color: white;
  font-weight: 600;
  font-size: 1rem;
}

@keyframes typing {
  0% {
    content: "";
  }
  5% {
    content: "n";
  }
  10% {
    content: "ne";
  }
  15% {
    content: "new";
  }
  20% {
    content: "new ";
  }
  25% {
    content: "new o";
  }
  30% {
    content: "new op";
  }
  35% {
    content: "new opp";
  }
  40% {
    content: "new oppo";
  }
  45% {
    content: "new oppor";
  }
  50% {
    content: "new opport";
  }
  55% {
    content: "new opportu";
  }
  60% {
    content: "new opportun";
  }
  65% {
    content: "new opportuni";
  }
  70% {
    content: "new opportunit";
  }
  75% {
    content: "new opportuniti";
  }
  80% {
    content: "new opportunitie";
  }
  85% {
    content: "new opportunities";
  }
  90% {
    content: "new opportunities ";
  }
  95% {
    content: "new opportunities !";
  }
  100% {
    content: "new opportunities !!";
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 4s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}

@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }

  @keyframes sequencePopup {
    0%,
    100% {
      content: "new opportunities !!";
    }
  }

  .typewriter::before {
    content: "new opportunities !!";
    animation: sequencePopup 12s linear infinite;
  }
}

.resume {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.expertise-section {
  height: fit-content;
  padding: 50px 50px;
  padding-bottom: 95px;
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
}

.skills-containers {
  display: grid;
  grid-template-columns: repeat(auto-fit, 380px);
  margin-top: 50px;
  gap: 50px;
  justify-content: center;
  max-height: 1000px;
  overflow: auto;
}

.skill-item {
  background-color: var(--PASTEL-PURPLE);
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  width: 350px;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
}
.skill-item-title {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.skill-item-title img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 1px solid black;
}
.skill-item-title h3 {
  justify-self: center;
  margin-top: 8px;
}

.skill-description {
  justify-self: start;
  justify-content: center;
  font-size: 1rem;
}

.experience-section {
  height: fit-content;
  padding: 40px 50px;
  background-color: var(--PASTEL-PURPLE);
  border-bottom: 1px solid black;
  display: flex;
  gap: 0;
  flex-direction: column;
  position: relative;
}

.experiences-list {
  display: flex;
  flex-direction: column;
  padding: 0px 80px;
  margin-top: 50px;
}

.experience-item {
  display: flex;
  flex-direction: column;
}

.mobile-titles,
.mobile-content {
  display: none;
}

.desktop-experience {
  display: flex;
  flex-direction: row;
}

.experience-item .left {
  width: 600px;
}
.title-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.title-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: left;
  gap: 5px;
}
.experience-title {
  margin-bottom: 10px;
  margin-left: 10px;
}
h3 strong {
  font-size: 1.4rem;
  color: var(--DARK-PURPLE);
}
.experience-des-box {
  border: 1px solid black;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  max-height: 400px;
  min-height: 300px;
  overflow: auto;
  margin-bottom: 30px;
  margin-top: 20px;
}
.experience-item .middle {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vertical-line {
  width: 1px;
  height: 100%;
  background-color: black;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
.circle {
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-fill {
  width: 20px;
  height: 20px;
  background-color: var(--PASTEL-PURPLE);
  border-radius: 50%;
  border: 1px solid black;
}
.experience-item .right {
  width: 600px;
  height: fit-content;
}
.right .top-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}
.tech-stack-list {
  margin-bottom: 30px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}
.tech-stack-item {
  background-color: var(--DARK-PURPLE);
  padding: 5px 15px;
  border-radius: 20px;
  border: 1px solid rgb(0, 0, 0);
  color: white;
  font-size: 1rem;
  font-weight: 500;
}
.butterfly-2 {
  right: 100px;
  top: 350px;
  position: absolute;
  width: 250px;
  height: 250px;
}
.robot {
  left: 120px;
  bottom: 40px;
  position: absolute;
  width: 300px;
  height: 300px;
}
.projects-section {
  height: fit-content;
  padding: 40px 50px;
  padding-bottom: 100px;
  background-color: #ffffff;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
}
.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  margin-top: 50px;
  justify-items: center;
}

.project-item {
  background-color: var(--PASTEL-PURPLE);
  border: 1px solid black;
  border-radius: 10px;
  width: 380px;
  max-height: 620px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: relative;
}
.image-box {
  display: flex;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 10px;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
  padding: 10px;
}

.project-item img {
  width: 280px;
  height: 280px;
  border-radius: 10px;

  object-fit: cover;
}

.project-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.project-description {
  font-size: 0.9rem;
  font-weight: 500;
}

.button-wrapper-smaller {
  position: relative;
  width: 150px;
  margin-top: 30px;
  margin-bottom: 17px;
  align-self: end;
}

.button-smaller {
  position: relative;
  z-index: 2;
  display: flex;
  font-size: 0.8rem;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
}

.button-under-smaller {
  position: absolute;
  top: 5px;
  left: 0px;
  z-index: 1;
  width: 150px;
  height: 100%;
  border: 1px solid black;
  border-radius: 6px;
  background-color: var(--PASTEL-PURPLE);
}

.education-section {
  height: fit-content;
  padding: 40px 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}
.education-content {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  gap: 50px;
}
.education-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
  background-color: var(--PASTEL-PURPLE);
  padding: 40px;
  padding-bottom: 60px;
  border: 1px solid black;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
}
.education-item {
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  border: 1px solid black;
}

.education-item p {
  font-size: 0.9rem;
  font-weight: 600;
}

.award-statement {
  display: flex;
  align-items: center;
}

.right-image {
  display: flex;
  align-content: center;
  justify-content: center;
}
.right-image img {
  width: 550px;
  height: 600px;
  object-fit: cover;
  margin: 0 10px;
  padding: 0 10px;
}
.contact-me-section {
  height: 600px;
  padding: 40px 50px;
  background-color: var(--PASTEL-PURPLE);
  display: flex;
  flex-direction: column;
}
.contact-content {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  gap: 80px;
  margin-top: 40px;
}

.contact-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-left p {
  font-size: 1rem;
  font-weight: 500;
  border: 1px dotted var(--PASTEL-PURPLE);
}
.socials {
  display: flex;
  flex-direction: row;
  align-content: center;

  gap: 20px;
}
.socials-item {
  display: flex;
  width: 50px;
  height: 50px;
  align-content: center;
  justify-content: center;
  border: 1px solid black;
  background-color: white;
  padding: 2px;
  display: flex;
  border-radius: 4px;
}
.socials img {
  width: 45px;
  height: 45px;
  object-fit: cover;
}

.socials-button-wrapper {
  position: relative;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 17px;
  align-self: end;
}

.socials-button {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
}

.socials-button-under {
  position: absolute;
  top: 5px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 6px;
  background-color: var(--PASTEL-PURPLE);
}

.message-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}
.message-form label {
  font-size: 0.9rem;
  font-weight: 600;
}

.email-link {
  color: var(--DARK-PURPLE);
  font-weight: 600;
  text-decoration-line: none;
}
.name-email {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.email-wrapper,
.name-wrapper {
  width: 50%;
}
.name-wrapper,
.email-wrapper,
.message-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-input {
  border: 1px solid black;
  border-radius: 6px;
  padding: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}
.form-input:focus {
  outline: none;
  border: 2px solid var(--DARK-PURPLE);
}
button {
  font-family: inherit;
  width: 100%;
  font-weight: 800;
  font-size: 1.5rem;
}
.footer {
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-weight: 600;
}

@media (max-width: 1220px) {
  .header-options {
    gap: 1.5rem;
    font-size: 0.9rem;
  }

  .home-section {
    padding: 40px 40px;
  }

  .introduction-text-large {
    font-size: 2.5rem;
  }

  .introduction-text-medium {
    font-size: 1.7rem;
  }

  .profile-image {
    width: 400px;
    height: 400px;
  }

  .about-content {
    gap: 40px;
  }

  .about-left img {
    margin-top: 50px;
    width: 400px;
    height: 400px;
  }
  .about-me-box {
    width: 500px;
    padding: 30px;
    font-size: 0.9rem;
  }

  .work-status {
    bottom: 100px;
    left: 115px;
    font-size: 0.8rem;
  }

  .skills-containers {
    height: 1500px;
  }

  .experiences-list {
    padding: 0px 40px;
  }

  .experience-item .left,
  .experience-item .right {
    width: 500px;
  }

  .experience-des-box {
    font-size: 0.75rem;
  }
  .tech-stack-item {
    font-size: 0.9rem;
    padding: 4px 10px;
  }

  .robot {
    left: 80px;
    bottom: 50px;
    width: 250px;
    height: 250px;
  }

  .butterfly-2 {
    top: 350px;
    right: 80px;
    width: 200px;
    height: 200px;
  }
  .projects-list {
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .project-item {
    width: 295px;
    max-height: 520px;
  }
  .image-box img {
    width: 180px;
    height: 180px;
  }
  .project-title {
    font-size: 1rem;
  }
  .project-description {
    font-size: 0.8rem;
  }
  .education-content {
    gap: 10px;
  }
  .right-image img {
    width: 400px;
    height: 500px;
    margin: 0 10px;
    padding: 0 10px;
  }
  .education-list {
    min-width: 450px;
    padding: 30px;
  }
  .education-item h3 {
    font-size: 0.9rem;
  }
  .education-item p {
    font-size: 0.7rem;
  }
}

@media (max-width: 1024px) {
  .header-options {
    gap: 1.2rem;
    font-size: 0.85rem;
  }

  .home-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 20px;
  }

  .home-left {
    order: 2;
  }

  .home-right {
    order: 1;
  }

  .greeting-tag {
    margin: 20px auto;
  }

  .button-wrapper {
    margin: 30px auto;
  }

  .intro-description br {
    display: none;
  }

  .profile-image {
    width: 350px;
    height: 350px;
    margin: 0;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  .about-left img {
    width: 410px;
    height: 410px;
    margin-bottom: 0px;
  }

  .work-status {
    left: 100px;
    bottom: 94px;
    font-size: 0.85rem;
  }

  .about-me-box {
    width: 100%;
    max-width: 600px;
  }
  .button-wrapper {
    width: 180px;
  }
  .button-under {
    width: 180px;
  }
  .button {
    font-size: 1rem;
  }
  .skills-containers {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
  }

  .skill-item {
    width: 100%;
    max-width: 350px;
  }
  .skill-item p {
    font-size: 0.9rem;
    font-weight: 500;
  }
  .expertise-section {
    padding-bottom: 30px;
  }
  .expertise-section,
  .experience-section {
    height: auto;
  }

  .experiences-list {
    padding: 0px 20px;
  }

  .desktop-experience {
    display: none;
  }

  .mobile-titles,
  .mobile-content {
    display: block;
  }

  .mobile-titles {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .mobile-titles h3 {
    font-size: 0.9rem;
  }
  .mobile-titles strong {
    font-size: 1rem;
  }
  .mobile-titles .title-left {
    flex: 1;
    align-items: flex-start;
    text-align: left;
    margin-left: 10px;
  }

  .mobile-titles .title-right {
    flex: 1;
    align-items: flex-end;
    text-align: right;
    margin-right: 10px;
  }

  .mobile-titles .experience-title {
    margin-left: 0;
  }

  .mobile-content {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .mobile-content .experience-des-box {
    margin-bottom: 0px;
    min-height: 30px;
  }
  .tech-stack-list {
    margin-bottom: 50px;
  }

  .experience-item .middle {
    display: none;
  }

  .robot,
  .butterfly-2 {
    display: none;
  }

  .projects-list {
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
  }
  .project-item {
    width: 295px;
    max-height: 500px;
  }
  .image-box img {
    width: 200px;
    height: 200px;
  }
  .project-title {
    font-size: 0.9rem;
  }
  .project-description {
    font-size: 0.7rem;
  }

  .education-content {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .right-image {
    display: none;
  }

  .contact-content {
    flex-direction: column;
    gap: 40px;
  }

  .left,
  .message-form {
    width: 100%;
  }

  .contact-me-section {
    height: auto;
    min-height: 600px;
  }
}

@media (max-width: 768px) {
  .header {
    height: auto;
    min-height: 70px;
    padding: 10px 0;
  }

  .header-options {
    gap: 0.8rem;
    padding: 10px;
  }

  .header-link {
    font-size: 0.75rem;
  }

  .logo-container {
    font-size: 1.2rem;
  }

  .spacer {
    display: none;
  }
  .home-right img {
    width: 350px;
    height: 350px;
  }

  .introduction-text-large {
    font-size: 2rem;
  }

  .introduction-text-medium {
    font-size: 1.5rem;
  }

  .profile-image {
    width: 300px;
    height: 300px;
  }

  .title h2 {
    font-size: 1.2rem;
  }

  .title img {
    width: 100px;
  }

  .about-left,
  .about-right {
    min-height: 300px;
  }
  .about-left img {
    width: 400px;
    height: 400px;
  }
  .work-status {
    left: 100px;
    bottom: 90px;
    font-size: 0.8rem;
  }

  .about-me-box {
    padding: 25px;
    font-size: 0.95rem;
  }

  .expertise-section {
    padding-bottom: 50px;
  }
  .skills-containers {
    justify-items: center;
    grid-template-columns: 1fr;
    min-height: 1600px;
  }

  .skill-item {
    width: 100%;
  }

  .experience-title {
    margin-left: 0;
  }

  .mobile-titles h3 {
    font-size: 0.85rem;
  }
  .mobile-titles strong {
    font-size: 0.9rem;
  }
  .experience-des-box {
    font-size: 0.75rem;
    min-height: 250px;
  }

  .tech-stack-list {
    padding: 0px 10px;
    justify-content: flex-start;
  }

  .tech-stack-item {
    font-size: 0.7rem;
    padding: 4px 12px;
  }

  .projects-list {
    grid-template-columns: 1fr;
  }

  .project-item {
    width: 100%;
    max-width: 400px;
  }

  .education-list {
    padding: 30px 20px;
  }

  .contact-content {
    gap: 30px;
  }

  .name-email {
    flex-direction: column;
  }

  .email-wrapper,
  .name-wrapper {
    width: 100%;
  }

  button {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .header-options {
    display: none;
  }

  .home-section,
  .about-me-section,
  .expertise-section,
  .experience-section,
  .projects-section,
  .education-section,
  .contact-me-section {
    padding: 30px 30px;
  }

  .introduction-text-large {
    font-size: 1.6rem;
  }

  .introduction-text-medium {
    font-size: 1rem;
  }

  .intro-description {
    font-size: 0.75rem;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .home-right img {
    width: 250px;
    height: 250px;
  }
  .greeting-tag {
    margin: 5px auto;
    font-size: 0.9rem;
    padding: 0.3rem;
  }

  .button-wrapper {
    width: 120px;
    margin: 10px auto;
  }

  .button {
    font-size: 0.7rem;
  }

  .button-under {
    width: 120px;
  }
  .title h2 {
    font-size: 1.1rem;
  }

  .title img {
    width: 100px;
  }
  .title {
    max-height: 20px;
  }
  .about-left img {
    width: 350px;
    height: 350px;
  }

  .work-status {
    left: 90px;
    bottom: 80px;
    font-size: 0.7rem;
  }

  .about-me-box {
    padding: 20px;
    font-size: 0.8rem;
  }
  .expertise-section {
    max-height: fit-content;
  }
  .skill-item {
    flex-direction: column;
    height: auto;
    padding: 15px;
    gap: 15px;
    text-align: center;
  }
  .skills-containers {
    min-height: 2200px;
  }
  .skill-description {
    font-size: 0.9rem;
  }

  .mobile-titles h3 {
    font-size: 0.7rem;
  }
  .mobile-titles strong {
    font-size: 0.75rem;
  }
  .experience-des-box {
    padding: 15px;
    min-height: 200px;
    font-size: 0.6rem;
  }

  .tech-stack-item {
    font-size: 0.6rem;
  }
  .project-item {
    width: 335px;
    align-items: center;
  }
  .image-box {
    width: 300px;
    height: 300px;
  }
  .image-box img {
    width: 200px;
    height: 200px;
  }

  .project-description {
    font-size: 0.75rem;
  }

  .education-list {
    padding: 20px 15px;
  }

  .education-item {
    padding: 15px;
  }
  span img {
    width: 20px;
    height: 20px;
  }
  .education-item h3 {
    font-size: 0.8rem;
  }

  .education-item p {
    font-size: 0.75rem;
  }

  .contact-left p {
    width: 90vw;
    margin-top: 30px;
    font-size: 0.9rem;
  }

  .message-form {
    padding: 20px;
  }

  .form-input {
    font-size: 0.9rem;
  }

  .socials {
    gap: 15px;
  }
  .socials img {
    width: 37px;
    height: 37px;
  }
  .socials-button-wrapper,
  .socials-button {
    width: 40px;
    height: 40px;
  }

  .footer {
    font-size: 0.85rem;
    padding: 10px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .main {
    overflow-x: hidden;
  }
  .body {
    overflow-x: hidden;
  }
  .header {
    align-content: center;
    justify-items: center;
    width: 100%;
  }

  .logo-container {
    margin: auto;
    text-align: center;
    align-content: center;
    justify-items: center;
  }

  .header-options {
    display: none;
  }

  .header-link {
    font-size: 0.65rem;
    padding: 5px;
  }

  main {
    width: 100%;
  }

  .introduction-text-large {
    font-size: 1.5rem;
  }

  .introduction-text-medium {
    font-size: 1.2rem;
  }
  .home-section {
    width: 100vw;
  }
  .profile-image {
    width: 250px;
    height: 250px;
  }

  .about-left img {
    width: 250px;
    height: 250px;
  }

  .work-status {
    left: 20px;
    bottom: 60px;
    font-size: 0.65rem;
  }

  .about-me-box {
    padding: 15px;
    font-size: 0.85rem;
  }

  .title h2 {
    font-size: 1.3rem;
  }

  .button-wrapper {
    width: 160px;
  }

  .button {
    font-size: 0.9rem;
    padding: 8px;
  }

  .button-under {
    width: 160px;
  }

  .skill-item-title img {
    width: 50px;
    height: 50px;
  }

  .skill-item-title h3,
  .skill-item-title h4 {
    font-size: 0.9rem;
  }

  h3 strong {
    font-size: 1rem;
  }

  .tech-stack-item {
    font-size: 0.75rem;
    padding: 3px 10px;
  }

  .button-wrapper-smaller {
    width: 130px;
  }

  .button-smaller {
    font-size: 0.7rem;
  }

  .button-under-smaller {
    width: 130px;
  }

  button {
    font-size: 1rem;
  }

  .footer {
    font-size: 0.75rem;
  }
  .education-list {
    min-width: 0px;
  }
  .project-item {
    width: 300px;
    align-items: center;
  }
  .image-box {
    width: 260px;
    height: 260px;
  }
  .image-box img {
    width: 200px;
    height: 200px;
  }

  .project-description {
    font-size: 0.75rem;
  }
}
